.navigation {
  font-family: $font-menu;

  display: flex;

  .logo img {
    grid-area: logo;
    margin: auto 20px;
    width: 100px;
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    margin: auto;
  }

  li {
    font-size: 20px;
    margin: 10px 0;
    text-align: center;

    &:hover {
      color: red;
      transition: 0.5s;
      cursor: pointer;
    }
  }

  a {
    text-decoration-line: none;
    margin: auto;
  }

  .nav-active {
    position: relative;
    grid-area: navactive;

    &::after {
      content: "";
      height: 4px;
      width: 0;
      background: red;
      position: absolute;
      border-radius: 10px;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-animation: anim 0.3s ease forwards;
      animation: anim 0.6s ease forwards;

      @-webkit-keyframes anim {
        to {
          width: 100%;
        }
      }

      @keyframes anim {
        to {
          width: 100%;
        }
      }
    }
    
  }

  @media screen and (max-width: 992px) {

    .container-fluid {
      display: flex;
    }

    .navbar-toggler {
      margin-top: -100px;
      color: aliceblue;
    }

    .navbar-toggler:focus {
      box-shadow: none;
    }

    a {
        text-decoration-line: none;
        margin: auto;
        width: 30%;
    }

    li {
      font-size: 20px;
      text-align: center;
    }
  }
}
