.teamchoice {

    .first-container {
        display: flex;
      }
    
      input {
        color: black;
      }
    
      .team-container {
        width: 300px;
        margin: auto;
        text-align: center;
    
        .teamHome, .teamVisitor {
          margin: 50px auto;
          display: flex;
          flex-direction: column;
        }
      
          #teamHomeLabel, #teamVisitorLabel {
            text-align: center;
            padding: 0 0 20px 0;
          }
      
          
      }

    
        span {
          width: 100%;
          margin: auto;
          text-align: center;
          color: red;
        }
    
    
      .form-label {
        margin: 20px auto;
      }
    
      .form-control-color {
        margin: auto;
        padding: 2px;
        background: wheat;
      }
    
    
    
    .btn {
      width: 20%;
      margin: 20px auto;
      display: flex;
      justify-content: center;
      color: white;
    }
    
}