.home {
  .first-container {
    padding: 100px 0;
  }

  .row {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .col-img {
    text-align: center;

    img {
      width: 60%;
    }
  }

  .col-text {
    h1 {
      font-size: 25px;
      text-align: center;
      margin-bottom: 30px;
    }

    p {
      font-size: 20px;
      text-align: center;
    }
  }

  @media screen and (min-width: 1400px) {

    .col-img {
    
        img {
          width: 50%;
        }
    }

  }

  @media screen and (max-width: 1200px) {

    .container {
        max-width: 100%;
    }

    .row {
      width: 100%;
      display: flex;
      max-width: 100% !important;
    }

    .col-img {
        text-align: center;
    
        img {
          width: 60%;
        }
    }
  }

  @media screen and (max-width: 995px) {


    .row {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      max-width: 100% !important;
    }

    .col-img {
        text-align: center;
    
        img {
          width: 40%;
        }
    }

    .col-text {
        text-align: center;
        margin: auto;
        padding: 50px 50px;
        max-width: 100%;
    }
  }
}
